/* ALL of 'HOME' related styling*/
/**/
/**/

/* ---[ VARIABLES ]---*/
:root {
  --option1: rgb(255, 0, 0);
  --option1_accent: rgb(128, 2, 2);
}

/* ---[ KEYFRAMES ]---*/
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 800% 0; /* Adjust the final position as needed */
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  /* Responsible for making the title glow effect*/
  0% {
    text-shadow: 0px 0px 18px red;
  }
  50% {
    text-shadow: 0px 0px 30px red;
  }
  100% {
    text-shadow: 0px 0px 18px red;
  }
}

/*--------[ BODY ]------------*/
#wrapper {
  background-color: rgb(4, 4, 4);
  height: 100vh;
}

/* ------ TITLE ----- */
#wrapper .title {
  margin-top: 2.8%;
  font-size: clamp(16px, 1vw, 36px); /* min, preferred, max */
  font-weight: bold;

  -webkit-text-stroke: 0.1px red;
  text-shadow: 0px 0px 9px red;
  animation: glowing 8s infinite; /* Adjust the duration as needed */

  transition: 0.8s;
}

.title.option_1 {
  color: var(--option1);
}

.title.option_2 {
  color: cyan;
}

.title.option_3 {
  color: green;
}

/* ------ header ----- */
.heading {
  margin-top: -0.3%;
  font-size: clamp(12px, 0.5vw, 24px); /* min, preferred, max */
}

/* -------- BOX / BUTTONS ------- */
.boxOptions {
  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 65%;
}

#Letter_Option,
#Number_Option,
#Word_Option {
  position: relative;

  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5%;
  /* margin-top: -5%; */

  cursor: pointer;

  width: calc(20% - 4%);
  min-width: 90px;
  height: 80%;
  min-height: 100px;
  /* max-height: 400px; */

  background: #000;
  color: rgba(255, 255, 255, 0.2);

  transition: 0.5s;
}

#Letter_Option.Shrink,
#Number_Option.Shrink,
#Word_Option.Shrink {
  height: 70%;
}

.Hide {
  opacity: 0;
}

#Letter_Option span,
#Number_Option span,
#Word_Option span {
  position: absolute;

  height: 102%;
  width: 103%;
  background: grey;
  margin-left: -3%;
  margin-top: -4%;

  border-radius: 5%;
  display: block;
  left: 1px;
  right: 1px;
  bottom: 1px;

  text-align: center;

  color: rgba(241, 240, 240, 0.2);
  transition: 0.5s;
  z-index: 1;
}

#Letter_Option span {
  outline: 2px solid red;
}

#Number_Option span {
  outline: 2px solid rgb(0, 217, 255);
}

#Word_Option span {
  outline: 2px solid limegreen;
}

#Letter_Option::before,
#Number_Option::before,
#Word_Option::before {
  content: "";
  border-radius: 4%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: animate 80s linear infinite;
}

#Letter_Option::before {
  background: linear-gradient(
    45deg,
    #000000,
    #000000,
    #000000,
    #000000,
    #7d0000,
    #a60000,
    #000000,
    #000000,
    #ff0000,
    #000000,
    #000000,
    #000000,
    #e60000,
    #cc0000,
    #a60000,
    #7d0000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000
  );
}

#Number_Option::before {
  background: linear-gradient(
    45deg,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000
  );
}

#Word_Option::after {
  background: linear-gradient(
    45deg,
    rgb(0, 255, 13),
    #000,
    rgb(0, 255, 13),
    #000,
    #000,
    #000,
    rgb(0, 255, 13),
    #000
  );

  box-shadow: 0 0 5vh rgba(0, 255, 13, 0.6);
}

#Number_Option::after {
  background: linear-gradient(
    45deg,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000,
    rgb(3, 230, 247),
    #000
  );

  box-shadow: 0 0 5vh rgba(0, 225, 255, 0.4);
}

#Letter_Option::after {
  background: linear-gradient(
    45deg,
    #000000,
    #000000,
    #000000,
    #000000,
    #7d0000,
    #a60000,
    #000000,
    #000000,
    #ff0000,
    #000000,
    #000000,
    #e60000,
    #cc0000,
    #a60000,
    #7d0000,
    #000000,
    #000000,
    #000000,
    #000000
  );

  box-shadow: 0 0 5vh rgba(255, 0, 0, 0.4);
}

#Letter_Option::after,
#Word_Option::after,
#Number_Option::after {
  content: "";
  border-radius: 4%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: animate 80s linear infinite;
}

#Letter_Option:hover::before,
#Letter_Option:hover::after,
#Word_Option:hover::before,
#Word_Option:hover::after,
#Number_Option:hover::before,
#Number_Option:hover::after {
  opacity: 1;
}

#Letter_Option:hover span,
#Word_Option:hover span,
#Number_Option:hover span {
  color: rgba(255, 255, 255, 1);
  border-radius: 5%;
}

#Letter_Option span::before,
#Word_Option span::before,
#Number_Option span::before {
  content: "";
  position: absolute;
  border-radius: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
}

/* ----- bottom title ----*/
#optionTitle {
  margin-top: -1%;
  transition: 0.5s;
}

/* ----- info box -----*/
#InfoBox {
  margin-top: -5px;
}
