/* ALL of 'HOME' related styling*/
#wrapper {
  background-color: black;
  height: 100vh;
}

/* ------ TITLE ----- */
#wrapper .title {
  margin-top: 2%;
  font-size: 40px;
}

/* ------ header ----- */
.heading {
  margin-top: -5px;
}

.boxOptions {
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25%;
  height: 80%;
}

.Letter_Option,
.Number_Option,
.Word_Option {
  margin-top: -5%;
  margin-left: 4%;
  margin-right: 4%;

  border-radius: 5%;

  width: 90%;
  height: 80%;
}
