#wrapper {
  height: 100vh;
}

.errorBox {
  margin-top: 1%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30%;
  height: 20%;
  /* background-color: red; */
}

.errorBox p {
  font-size: 1vw;
}
