/* ALL of 'NUMBER GENERATOR' related styling*/
/**/
/**/
:root {
  --text-stroke-color: yellow;
  --main-text-color: rgb(243, 216, 60);
}

@keyframes title_Glow2 {
  0% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
  50% {
    text-shadow: 0px 0px 30px var(--text-stroke-color);
  }
  100% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
}

.title {
  color: var(--main-text-color);
  animation: title_Glow2 7s infinite;
}

.NumberArea {
  margin-top: 2%;
  /* background-color: rgb(255, 255, 255); */

  /* height: 50%; */
  /* width: 20%; */
  height: 50vh;
  width: 50vh;
  /* width: calc(35% - 15%); */

  /* Centering text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.NumberHolder {
  height: 100%;
  width: 100%;
  font-size: 15vh;

  text-shadow: 0px 0px 5px #000, /* Black text stroke */ 0px 0px 2px #000;

  border-radius: 100%;
  border: 2px solid var(--main-text-color);

  box-shadow: 0px 0px 2.5vh var(--main-text-color);
  transition: box-shadow 1s ease;

  background: radial-gradient(
    ellipse at center,
    var(--main-text-color) 0%,
    rgba(19, 240, 85, 0) 70%
  );

  /* Centering text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.NumberHolder.shadowed {
  box-shadow: 0px 0px 7vh var(--main-text-color); /* Updated box-shadow */
  border: 2px solid var(--main-text-color); /* Updated border color */
}

.NumberHolder .randomNumber {
  opacity: 0;
  transition: opacity 0.5s ease; /* Add a transition for a smoother effect */
}

.NumberHolder .randomNumber.fade {
  opacity: 1;
}

/*-------------------------GENERATE BUTTON-------------------------*/
.ButtonHolder {
  margin-top: 2.3%;

  border-radius: 20px;
  /* background-color: rgb(53, 52, 52, 0.2); */
  height: 8vh;
  width: 20%; /* Stretch across the whole screen */

  display: flex;
  justify-content: center;
  align-items: center;
}

.GenerateButton {
  background-color: #2f3030;
  color: var(--main-text-color);
  border-radius: 5px;
  height: 50%;
  font-size: 1em;
  width: 80%;
  box-shadow: 0 0 0 var(--main-text-color);
  transition: box-shadow 0.2s ease; /* Add a transition for box-shadow */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.GenerateButton:hover {
  box-shadow: 0 0 15px var(--main-text-color);
  background-color: #141414;
}

/*-------------------------BOTTOM TEXT-------------------------*/
.BottomFrame {
  position: relative;
  margin-top: -1.4em;
  color: var(--main-text-color);
  font-weight: normal;
  font-style: italic;
}
